#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#


if ARCH_BOARD_STM32F427A_MINIMAL

# config STM32F427A_FLASH
#     bool "MTD driver for external 1Gbit MT25 FLASH on SPI4"
#     default n
#     select MTD
#     select MTD_BYTE_WRITE
#     select MTD_SMART
#     select FS_SMARTFS
#     select MTD_M25P
#     select STM32_SPI3
#     ---help---
#         Configures an MTD device for use with the MT25QL NOR flash

# config STM32F427A_FLASH_PART
#     bool "Enable partition support on FLASH"
#     default n
#     depends on STM32F427A_FLASH
#     ---help---
#         Enables creation of partitions on the FLASH

# config STM32F427A_FLASH_CONFIG_PART
#     bool "Create application config data partition on FLASH"
#     default y
#     depends on STM32F427A_FLASH
#     depends on STM32F427A_FLASH_PART
#     depends on PLATFORM_CONFIGDATA
#     ---help---
#         Enables creation of a /dev/config partition on the FLASH

# config STM32F427A_FLASH_CONFIG_PART_NUMBER
#     int "Index number of config partition (in list below)"
#     default 32
#     depends on STM32F427A_FLASH
#     depends on STM32F427A_FLASH_PART
#     depends on STM32F427A_FLASH_CONFIG_PART
#     ---help---
#         Specifies the index number of the config data partition
#         from the partition list.

# config STM32F427A_FLASH_PART_LIST
#     string "Flash partition size list"
#     default "48188"
#     depends on STM32F427A_FLASH
#     depends on STM32F427A_FLASH_PART
#     ---help---
#         Comma separated list of partition sizes in KB.

# config STM32F427A_FLASH_PART_NAMES
#     string "Flash partition name list"
#     default "config,rfs"
#     depends on STM32F427A_FLASH
#     depends on STM32F427A_FLASH_PART
#     depends on MTD_PARTITION_NAMES
#     ---help---
#         Comma separated list of partition names.

# config STM32F427A_HIGHPRI
#     bool "High priority interrupt test"
#     default n

endif # ARCH_BOARD_STM32F427A_MINIMAL
